<div class="d-flex">
  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <!-- sidebar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" placeholder="Buscar gifs" class="form-control">
      </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas reiciendis ad sunt, vel sit suscipit, consectetur vero quisquam veniam dignissimos eum ullam. Consequuntur suscipit quaerat odit porro laudantium cum ea!
    </div>
    <hr>
  </div>
</div>